@mixin flex(
    $direction: row, 
    $wrap: nowrap, 
    $justify: flex-start, 
    $align: stretch
  ) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin width($width: null, $min: null, $max: null) {
  @if $width != null { width: $width; }
  @if $min != null { min-width: $min; }
  @if $max != null { max-width: $max; }
}

@mixin height($height: null, $min: null, $max: null) {
  @if $height != null { height: $height; }
  @if $min != null { min-height: $min; }
  @if $max != null { max-height: $max; }
}

@mixin container__toolbar {
  background: transparent;
  @include flex(row, wrap, center, center);
  border: 0;
  @include width(100%, 100%, 100%);
}

@mixin toolbar {
  border-radius: 32px;
  border: 0;
  width: max-content;
  padding: 16px 24px;
}