@use "abstracts" as *;

@use "base";
@use "layout";
 
.hero-panel,
.context-menu,
.settings-download-sources__item,
.text-field-container__text-field,
.text-field-container__text-field--dark,
.container__content,
[class*=filter-section],
.notification-item,
[class*="skeleton"],
.catalogue__filters-container,
.download-group__simple-thumbnail,
.theme-card,
.text-field-container__text-field--primary,
[class*=select-field],
[class*=profile-section] {
  background: transparent;
  border: 0;
}

.context-menu,
.settings-download-sources__item,
.text-field-container__text-field,
.text-field-container__text-field--dark,
.notification-item,
.theme-card,
.filter-section,
[class=select-field__option],
.profile-section  {
  border: 1px solid color(bg-1, 0.25);
  border-radius: 2px;

  &:hover {
    border: 1px solid color(bg-1, 0.5);
  }
}

.download-group__simple-thumbnail {
  border-radius: 0;
}

.select-field__option option,
.checkbox-field__checkbox  {
  background: transparent;
  border: 1px solid color(bg-1, 0.25);

  &:hover {
    background: color(bg-1, 0.25);
    border: 1px solid transparent !important;
  }
}

/* Backgrounds */
.select-field__option option
{
  background: color(gradient-1, 1);
}

.context-menu,
input[type="range" i]
{
  background: color(gradient-1, 0.5) !important;
}

/* Navbar */

.sidebar {
  background: transparent;
  border: none;
  border-radius: 8px;
  width: max-content !important;
  min-width: max-content !important;
  max-width: max-content !important;
  bottom: 5px;
  position: fixed;
  z-index: 7;
  flex-direction: row;
  padding: 8px 12px;
  left: 32px;
  cursor: pointer;
  align-items: center;
}

.sidebar > .sidebar__container {
  cursor: default;
}

.sidebar:hover:not(:has(.sidebar__container:hover)) {
  background: color(bg-1, 0.1);
}

.sidebar::after,
.sidebar::before {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  --h: calc(#{$header-top} - 4px);
  --hhh: var(--h), var(--h), var(--h);
  height: clamp( var(--hhh));
}

.sidebar::before {
  content: "Hydra";
  background: color(bg-1);
  color: color(gradient-1, 1);
  border-radius: 32px;
}

.sidebar::after {
  content: "Menu";
}

.sidebar:active .sidebar__content,
.sidebar__content:hover:not(
  :has(
    .sidebar-profile:hover,
    .sidebar__section:not(:nth-of-type(1)):hover
  )
) {
  left: 0;
}

.sidebar__content:active:not(
  :has(.sidebar__menu:active)
) {
  left: 100% !important;
}

.sidebar__content:has(
  .sidebar__menu-item-button:focus
) {
  left: 100% !important;
  transition: left 0s 0.1s linear;
}

.sidebar__content {
  background: transparent;
  border: none;
  inset: 
    0
    0
    0
    100%;
  position: fixed;
  z-index: 10;
  padding: 0;
  justify-content: center;
}

.sidebar__section:nth-of-type(1) {
  background: color(bg-2, 0.75);
  border: none;
  padding: 0;
  margin: $header-top + $header-size 0 $header-size 0;
  height: 100%
}

.sidebar__section:nth-of-type(1) .sidebar__menu {
  background: linear-gradient(135deg, color(gradient-2, 1), color(gradient-1, 1));
  width: max-content;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.sidebar__menu-item {
  border-radius: 0;
  padding: 8px 64px 8px 24px;
  color: color(bg-1, 0.5);
}

.sidebar__menu-item:hover {
  background: color(bg-1, 0.25);
}

.sidebar__menu-item--active {
  background: color(bg-1, 0.25);
  color: color(bg-1);
  align-items: center
}

.sidebar__menu-item--active::before {
  content: "";
  background: color(accent-3);
  height: $header-top;
  width: 8px;
  position: absolute;
  left: 0;
  border-radius: 0 8px 8px 0;
}

.sidebar__menu-item-button {
  gap: 16px;
}

.sidebar__menu-item-button svg {
  height: 32px;
  width: 32px;
}

.sidebar__menu-item span {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  color: color(bg-1, 0.5);
}

.sidebar__menu-item--active span {
  color: color(bg-1);
}

.sidebar__handle,
.sidebar__bottom-buttons {
  display: none;
}

.sidebar__section:not(:nth-of-type(1)) {
  display: none;
}

.bottom-panel__downloads-button,
.sidebar-profile {
  --size: #{$header-size};
  --header-pos: calc(#{$header-calc} + var(--size) * (var(--pos) - 1));
  left: var(--header-pos);
  position: fixed;
  z-index: $header-index;
  display: flex;
  top: $header-top;
  padding: 0;
  margin: 0;
  min-height: var(--size);
  min-width: var(--size);
  border-radius: 0;
  border: 0;
  gap: 0;
  color: color(bg-1);

  & svg {
    transform: scale(1.5);
  }

  & span, & small {
    display: none;
  }
}

.bottom-panel__downloads-button {
  --pos: 1;
}

.sidebar-profile {
  --pos: 2;
  width: min-content;
  flex-direction: row-reverse;
}

.bottom-panel__downloads-button,
.sidebar-profile__button,
.sidebar-profile__notification-button {
  min-height: var(--size);
  min-width: var(--size);
  border-radius: 0;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:hover {
    background: color(bg-1, 0.25) ;
  }
}

body:has(.notifications) .sidebar-profile__notification-button,
body:has(.profile__wrapper) .sidebar-profile__button {
  background: rgba(255,255,255,0.1);
}

.sidebar-profile__notification-button {
  position: relative;
  background: transparent;
}

.sidebar-profile__notification-button-badge {
  position: absolute;
  top: 8px;
  right: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: color(bg-1);
  background: #236C39;
}

.sidebar-profile__button-content {
  justify-content: center;
  flex-direction: row-reverse;
}

.sidebar-profile__button-information,
.sidebar-profile__game-running-icon {
  display: none;
}

.profile-avatar, .profile-avatar__image {
  border-radius: 0;
  border: 0;
}

.search-dropdown {
  display: none;
}

/* Main content */

body:has(.game-details__wrapper) main {
  margin-top: 0;
}

main {
  margin-top: $header-size;
  display: flex;
  flex-direction: column;
}

#scrollableDiv::-webkit-scrollbar:vertical,
#scrollableDiv > section::-webkit-scrollbar:vertical {
  display: none !important;
}

.header {
  background: transparent;
  padding: 0 32px;
  border: none;
}

.header__title {
  display: none;
  justify-content: center;
  color: color(bg-1);
  text-transform: uppercase;
}

.home__content {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 0;
  overflow: hidden;
}

.home__header {
  background: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0;
  justify-content:center;
  align-self: center;
  padding: 0;
}

.home__header > ul > li > .button {
  border-radius: 32px;
  border: 0;
  width: max-content;
  padding: 16px 24px;
}

.home__header > button {
  display: none;
}

.hero {
  min-height: 0;
  height: 90%;
  width: unset;
  margin: 16px;
  border: none;
  box-shadow: none;
}

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: end;
  height: min-content;
  justify-content: start;
  gap: 16px;
  padding: 4px 16px;
}

.hero__description {
  padding-bottom: 16px
}

.home__title {
  display: none;
}

.home__cards {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 32px 20px 64px;
}

.game-card {
  min-width: 460px;
  max-width: 49%;
  height: 215px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  overflow: visible;
  position: relative;
}

.catalogue__games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 16px;
  height: max-content;
}

.catalogue__pagination-container {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
}

.game-item,
.game-item__content-link {
  max-width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  overflow: visible;
  flex-grow: 1;
  display: grid;
  grid-template-rows: max-content 1fr;
  background: transparent;
  position: relative;
  gap: 8px;
}

.game-item__content-link:hover::after,
.game-card:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  border-radius: 50%;
  background: color(accent-2);
  z-index: -2;
  filter: blur(32px);
  opacity: 0.2;
  left: 0;
  top: 25%;
}

.game-item__content-link:hover::after {
  height: 55%;
}

.game-item:hover .game-item__content-link,
.game-item__content-link:hover {
  background: transparent;
}

.game-item__content-link:hover .game-item__cover {
  transform: scale(1.04);
}

.game-item__cover-wrapper {
  width: 100%;
  height: 100%;
  border: 0;
}

.game-item__cover {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border: 0;
}

.game-item__details {
  align-self: flex-start;
  padding: 8px;
  gap: 4px;
}

.game-item__details span:nth-of-type(1) {
  font-weight: 900;
  font-size: 20px;
  text-align: left;
}

.game-item__details span:nth-of-type(2) {
  font-size: 12px;
  color: color(bg-1, 0.5);
}

.game-item__repackers {
  opacity: 0;
  transition: all 0.2s linear;
}

.game-item__content-link:hover .game-item__content-link__repackers {
  opacity: 1;
}


.badge {
  background: rgba(255,255,255,0.1);
  color: color(bg-1);
  border-radius: 2px;
  border: 0;
  box-shadow: none;
  transform: none;
  backdrop-filter: none;
}

.user-library-game__playtime,
.user-library-game__pin-button,
.user-library-game__pin-button:hover,
.library-game-card__playtime,
.badge:hover {
  background: color(bg-2, 0.25);
  color: color(bg-1);
  border-radius: 2px;
  border: 0;
  box-shadow: none;
  backdrop-filter: none;
  transform: none;
}

.game-card__backdrop {
  display: flex; 
  height: 100%;
  width: 100%;
  overflow: visible;
  background: none;
}

.game-card__cover {
  background-color: color(gradient-1, 1);
  color: color(bg-1, 0.5);
}

.game-card:hover .game-card__content {
  opacity: 1;
  bottom: -8px;
}

.game-card__content {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear 0.1s;
  padding: 8px 0;
  translate: 0 100%;
  transform: none;
  bottom: -12px;
  gap: 4px;
  width: 100%;
}

.game-card__title {
  text-wrap: nowrap;
  padding: 0 2px;
  font-size: 20px;
}

.game-card__specifics {
  opacity: 0.5;
  padding: 0;
}

.game-card__shop-icon,
.game-card__download-options {
  display: none;
}

/* Footer */
.bottom-panel {
  background: rgba(255,255,255,0.05) !important;
  padding: 0 32px;
  border: 0;
  flex-direction: row-reverse;
  min-height: 56px;
}

.bottom-panel .bottom-panel__downloads-button {
  position: fixed;
}

.bottom-panel .bottom-panel__downloads-button::before {
  content: "";
  font-size: 14px;
  width: 24px;
  margin-top: 4px;
  height: 24px;
  background-image: icon(download);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

.bottom-panel .bottom-panel__downloads-button small {
  font-family: monospace;
  font-size: 14px;
  color: color(bg-1);
  white-space: nowrap;
  padding-top: 1.25px;
  font-weight: 100;
}

.bottom-panel .bottom-panel__version-button {
  font-size: 0;
  display: flex;
  gap: 2px;
}

.bottom-panel * {
  border: none !important;
}

.bottom-panel *:hover {
  border: none !important;
}

.bottom-panel__version-button::before {
  display: flex;
  content: "";
  font-size: 14px;
  width: 20px;
  height: 20px;
  background-image: icon(github);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.25;
  transition: all 0.2s ease-in-out;
}

.bottom-panel__version-button::after {
  content: "github.com/viniponteslima";
  display: inline-flex;
  font-family: monospace;
  font-size: 14px;
  color: color(bg-1);

  width: 14ch;
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-end;

  opacity: 0.25;
  padding-top: 1.25px;
  transition: width 0.3s steps(11), opacity 0.2s;
}

.bottom-panel__version-button:hover::after {
  transition: width 0.8s steps(11), opacity 0.2s;
  width: 25ch;
}

.bottom-panel__version-button:hover::before,
.bottom-panel__version-button:hover::after {
  opacity: 0.75;
}

[class^=workwonders] {
  display: none !important;
}

/* Library */

.library__content {
  padding: 0;
}

.library__controls-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "_ filter view";
}

.library__controls-left {
  grid-area: filter;
  justify-content: center;
  border: 0;
}

.library-filter-options__tab {
  border-radius: 32px;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  color: color(bg-1);
}

.library-filter-options__tab:hover {
  background: rgba(255,255,255,0.1);
}

.library-filter-options__tab--active {
  background: rgba(255,255,255,0.1);
  transition: all 0.2s linear;
}

.library-filter-options__tab--active:hover {
  background: color(bg-1, 0.25);
}

.library-filter-options__tab-badge {
  background: #236C39;
  padding: 8px;
  font-size: 12px;
  font-family: monospace;
}

.library-filter-options__tab-underline {
  display: none;
}

.library__controls-right {
  grid-area: view;
  justify-content: end;
  position: fixed;
  top: 0;
  right: 135px;
  -webkit-app-region: no-drag;
  z-index: 5;
}

.library-view-options__options {
  gap: 0;
  padding-right: 16px
}

.library-view-options__option {
  $header-top: 33.5px;
  min-width: unset !important;
  min-height: $header-top !important;
  max-width: unset;
  max-height: $header-top;
  aspect-ratio: 9/7;
  background: none !important;
  color: color(bg-1, 0.25) !important;
  border-radius: 0 !important;
  cursor: default;

  &.active {
    color: color(bg-1) !important;
  }

  &:hover {
    background: rgba(255,255,255,0.1) !important;
  }
}

.library__games-grid {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 32px 20px 64px;
}

.library__games-grid  li {
  display: flex;
}

.library-game-card__overlay {
  background: transparent;
  position: static;
  order: 1;
  padding: 0;
}

.library-game-card__wrapper {
  display: grid;
  grid-template-rows: 80% max-content max-content;
  aspect-ratio: unset;
  box-shadow: none;
  height: 100%;
  gap: 4px;
}

.library-game-card__wrapper::before {
  content: none;
}

.library-game-card__wrapper::after {
  content: attr(title);
  color: color(bg-1);
  text-align: start;
}

.library-game-card__game-image {
  object-fit: contain;
  aspect-ratio: 6/9;
}

/* Downloads Page */

.download-group__header-title-group {
  gap: 0;
}

.download-group__header-title-group::after {
  content: "";
  height: 2px;
  width: 100%;
  background: color(bg-1, 0.25)
}

.download-group__header-title-group h2 {
  font-weight: 400;
  font-size: 24px;
  text-wrap: nowrap;
}

.download-group__header-title-group h3 {
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  font-family: monospace;
  color: color(bg-1, 0.5);
}

.download-group__header-title-group h3::before {
  content: "(";
}

.download-group__header-title-group h3::after {
  content: ")";
}

.download-group__simple-list {
  gap: 0;
}

.download-group__simple-card {
  border-radius: 0;
  padding: 16px 38px 16px 16px;
}

.download-group__simple-card:hover {
  background: color(bg-1, 0.25);
}

.download-group__simple-action-btn, .download-group__simple-menu-btn {
  background: color(bg-1, 0.25);
  color: color(bg-1);
  border-radius: 2px;
  min-width: $header-size;
  min-height: $header-size;
  transition: all 0.2s linear;
}

.button.download-group__simple-action-btn {
  gap: 16px;
  width: calc($header-size * 4);
}

.download-group__simple-progress {
  width: 20%;
}

.download-group__progress-bar--small {
  height: 8px;
}

.download-group__progress-fill {
  background: color(bg-1, 0.5) !important;
 }

/* Profile */

.profile-hero__content-box, .profile-hero__hero-panel {
  background: transparent !important;
  border: 0;
  box-shadow: none;
}

.profile-section__content {
  background: transparent;
}

.profile-hero__content-box {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 0 32px;
}

.profile-hero__user-information {
  padding: 0;
}

.profile-hero__hero-panel {
  height: initial;
  padding: 0;
}

.profile-hero__display-name-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
}

.profile-hero__display-name {
  color: color(accent-1);
  font-size: 24px;
  font-weight: 200;
}

.profile-hero__copy-button {
  flex-direction: row-reverse;
  background: transparent;
  width: initial !important;
  color: color(accent-2) !important;
  gap: 4px;
}

.profile-hero__friend-code {
  color: color(accent-2) !important;
  opacity: 1 !important;
  margin-right: 0px !important;
  font-size: 20px;
  font-weight: 200;
}

.profile-hero__actions {
  display: flex;
  flex-direction: column;
}

/* Game Details */

.game-details__container {
  display: grid;
  grid-template-rows: max-content auto;
}

.game-details__hero {
  height: 100%
}

.game-details__hero-image {
  height: 40vh;
  border-radius: 0;
  position: static;
}

.game-details__hero-content {
  position: static;
  padding: 0;
  align-items: center;
}

.game-details__game-logo {
  position: absolute;
  object-position: center;
  top: -16px;
  left: 16px;
  translate: 0 -100%;
  filter: drop-shadow(0 0 32px white) drop-shadow(0 0 8px black);
}

.game-details__hero-logo-backdrop {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  padding: 16px;
  height: max-content;
}

.game-details__hero-panel {
  padding: 0;
  grid-column:1;
}

.game-details__hero-panel .hero-panel {
  padding: 0;
  height: max-content;
  min-height: max-content;
  border-radius: 0;
  gap: 16px;
  flex-direction: row-reverse;
  backdrop-filter: none;
}

.hero-panel-actions__separator {
  display: none;
}

.game-details__hero-logo-backdrop .button,
.game-details__hero-buttons--right .game-details__edit-custom-game-button,
.game-details__hero-buttons--right .game-details__cloud-sync-button {
  box-shadow: none;
  background: color(bg-1, 0.25);
  border: 0;
  font-size: 20px;
  gap: 16px;

  &:hover {
    background: color(bg-1, 0.5);
  }

  & svg {
    width: 20px;
    height: 20px
  }
}

.game-details__hero-panel .hero-panel button {
  &:nth-of-type(1) { /* Play button */
    justify-content: start;
    padding: 8px 24px ;
    width: calc($header-size * 4) !important;
    &:hover {
      background: #59BF40;
    }
  }

  &:nth-of-type(4) {
    width: $header-size;
    font-size: 0;
    gap: 0;
  }
}

.game-details__hero-buttons {
  margin: 0;
}

.game-details__hero-buttons--right .game-details__cloud-sync-button {
  position: absolute;
  translate: 0 calc(-100% + (-16px * 2));
  right: 16px;
  padding: 8px 24px;
  background: color(bg-2, 0.5) !important;
  text-wrap: nowrap;

  &:hover {
    background: color(bg-1, 0.25) !important;
  }
}

.game-details__hero-panel .hero-panel button:nth-of-type(2),
.game-details__hero-panel .hero-panel button:nth-of-type(4),
.game-details__hero-buttons--right .game-details__edit-custom-game-button {
  --pos: 1;
  --size: #{$header-size};
  --header-pos: calc( (var(--size) * (var(--pos) - 1)) + (var(--pos) * 16px));
  position: absolute;
  translate: 0%;
  right: var(--header-pos);
}

.game-details__hero-panel .hero-panel button:nth-of-type(2) { --pos: 2 }
.game-details__hero-buttons--right .game-details__edit-custom-game-button { --pos: 3 }

.button:has(> svg > [d="m11.294.984 3.722 3.722a1.75 1.75 0 0 1-.504 2.826l-1.327.613a3.089 3.089 0 0 0-1.707 2.084l-.584 2.454c-.317 1.332-1.972 1.8-2.94.832L5.75 11.311 1.78 15.28a.749.749 0 1 1-1.06-1.06l3.969-3.97-2.204-2.204c-.968-.968-.5-2.623.832-2.94l2.454-.584a3.08 3.08 0 0 0 2.084-1.707l.613-1.327a1.75 1.75 0 0 1 2.826-.504ZM6.283 9.723l2.732 2.731a.25.25 0 0 0 .42-.119l.584-2.454a4.586 4.586 0 0 1 2.537-3.098l1.328-.613a.25.25 0 0 0 .072-.404l-3.722-3.722a.25.25 0 0 0-.404.072l-.613 1.328a4.584 4.584 0 0 1-3.098 2.537l-2.454.584a.25.25 0 0 0-.119.42l2.731 2.732Z"]) {
  display: none; /* Pin Button */
}

.game-details__description-container {
  background: transparent;
}

.game-details__description-container * {
   background: transparent;
}

/* General */

.button--outline {
  background: transparent;
  border: 1px solid color(bg-1, 0.5);
}

.download-group__simple-action-btn:hover, .download-group__simple-menu-btn:hover {
  background: color(bg-1, 0.5);
  border: 0;
}

.download-group__simple-action-btn svg, .download-group__simple-menu-btn svg {
  transform: scale(1.5)
}

.download-group__simple-action-btn svg path, .button--primary.download-group__simple-menu-btn svg path {
  fill: color(bg-1);
}

.react-tooltip {
  background: color(bg-1);
  color: color(bg-2)
}

.game-details__hero-buttons > button,
.library-view-options__option,
.notification-item__picture,
.button {
  background: color(bg-1, 0.25);
  border-radius: 2px;
  color: color(bg-1);
  border: 1px solid transparent;
  min-height: $header-size;
  min-width: $header-size;
  justify-content: center;
}

.sidebar-section__content {
  transition: all ease 0.3s;
}

.subscription-required-button {
  color: color(accent-2);
}

#scrollableDiv > section > div {
  box-shadow: none;
}

#scrollableDiv button > svg {
  transform: scale(1.25);
}

.button--outline,
.filter-item  {
  background: transparent;
  border: 1px solid color(bg-1, 0.25);
  color: color(bg-1);
}

.button:hover,
.filter-item:hover  {
  background: color(bg-1, 0.5);
}

.text-field-container__text-field, 
.select-field {
  height: $header-size;
}

.text-field-container__text-field input {
  padding: 0 16px;
}

.select-field {
  position: relative;
}

.select-field select {
  padding: 0 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
  color-scheme: dark;
}

.select-field select::-webkit-scrollbar {
  background: color(gradient-1, 1);
}

.select-field::after {
  content: "⮟";
  color: color(bg-1);
  position: absolute;
  right: 16px;
  transform: rotateZ(-90deg);
  pointer-events: none;
  transition: transform 0.2s linear;
}

.select-field:has(select:open)::after {
  transform: rotateZ(0);
}

.backdrop--windows {
  height: unset;
  top: $header-top;
  bottom: 0;
  padding: $header-top;
  z-index: calc($header-index + 1);
  background-color: color(bg-2, 0.75);
}

.modal {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.modal__header {
  padding: 0;
  border-radius: 2px 2px 0 0;
  background: color(gradient-2, 1);
  border: 0;
  display: grid;
  grid-auto-flow: column;
}

.modal__header-title {
  padding: 16px;
}

.modal__close-button {
  height: 100%;
  aspect-ratio: 1/1;

  &:hover {
    background: color(gradient-1, 1);
  }
}

.modal__content {
  background: color(gradient-1, 1);
  border-radius: 0 0 4px 4px;
}

.game-options-modal__cloud-sync-hydra-cloud {
  background: linear-gradient(-45deg, color(accent-2), color(accent-1));
  color: color(gradient-1, 1);
  padding: 2px 8px;
}


/* Settings */

.settings__content {
  background: transparent;
  border: 0;
  border-radius: 4px;
  flex-direction: column;
}

.settings__sidebar {
  background: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  justify-content:center;
  align-self: center;
}

.settings__sidebar-button {
  border-radius: 32px;
  width: max-content;
  padding: 16px 24px;
}

.settings__panel h2 {
  display: none;
}