@use "abstracts" as *;

.bottom-panel {
  background: color(bg-1, 0.05) !important;
  padding: 0 32px;
  border: 0;
  flex-direction: row-reverse;
  min-height: 56px;
}

.bottom-panel .bottom-panel__version-button {
  font-size: 0;
  display: flex;
  gap: 2px;
}

.bottom-panel * {
  border: none !important;
}

.bottom-panel *:hover {
  border: none !important;
}

.bottom-panel__version-button::before {
  display: flex;
  content: "";
  font-size: 14px;
  width: 20px;
  height: 20px;
  background-image: icon(github);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.25;
  transition: all 0.2s ease-in-out;
}

.bottom-panel__version-button::after {
  content: "github.com/viniponteslima";
  display: inline-flex;
  font-family: monospace;
  font-size: 14px;
  color: color(bg-1);

  width: 14ch;
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-end;

  opacity: 0.25;
  padding-top: 1.25px;
  transition: width 0.3s steps(11), opacity 0.2s;
}

.bottom-panel__version-button:hover::after {
  transition: width 0.8s steps(11), opacity 0.2s;
  width: 25ch;
}

.bottom-panel__version-button:hover::before,
.bottom-panel__version-button:hover::after {
  opacity: 0.75;
}

[class^=workwonders] {
  display: none !important;
}