@use "abstracts" as *;

// Search
.header__search {
  position: fixed;
  z-index: $header-index;
  left: 0;
  top: $header-top;
  padding: 0;
  height: $header-size;
  border-radius: 0;
  border:0; 
  width: calc($header-calc);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header__search *:not(.header__action-button, .header__action-button *) {
  cursor: icon(text) 2 12, text !important;
}

.header__action-button:nth-of-type(1) {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 16px;
  cursor: default;
}

.header__action-button:nth-of-type(2) {
  position: absolute;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: color(bg-2);
}

.header__action-button:nth-of-type(2):hover {
  background: color(bg-2, 0.5);
}

.header__action-button:nth-of-type(2) svg path {
  fill: color(bg-1)
}

.header__search:not(:focus-within):not(:hover):has(.header__search-input:placeholder-shown) .header__action-button:nth-child(1) {
  animation: search-button-out 0.5s ease-in-out forwards;
}

.header__search:not(:focus-within):hover:has(.header__search-input:placeholder-shown) .header__action-button:nth-child(1) {
  animation: search-button-in 0.5s ease-in-out forwards;
}

.header__search:placeholder-shown .header__action-button:nth-child(1) {
  right: 16px;
}

.header__search:not(:placeholder-shown) .header__action-button:nth-child(1) {
  left: 16px;
}

.header__action-button svg {
  transform: scale(1.5);
}
  
.header__search:hover {
  background: color(bg-1, 0.25);
}

.header__search:not(:focus-within):has(.header__search-input:not(:placeholder-shown)) {
  background-color: color(bg-1, 0.75);
}

.header__search:has(.header__search-input:not(:placeholder-shown)) {
  background-color: color(bg-1);

  & svg {
    fill: color(bg-2);
  }
}

.header__search:focus-within {
  background: color(bg-1, 0.5);

  & .header__search-input {
    &::placeholder {
      color: color(bg-2, 0.5);
      font-size: 16px;
      font-style: italic;
    }
  }

  & svg {
    fill: color(bg-2);
  }
}

.header__search-input {
  font-size: 16px;
  color: color(bg-2);
  padding: 0 2px 0 $header-size;
 
  &::placeholder {
    color: transparent;
  } 
}

[data-tooltip-id=":r1:"] {
  display: none;
}