@use "abstracts" as *;

::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: color(bg-1, 0.25);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}