@use "abstracts" as *;

.catalogue__games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 16px;
  height: max-content;
}

.catalogue__pagination-container {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
}

.game-item,
.game-item__content-link {
  max-width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  overflow: visible;
  flex-grow: 1;
  display: grid;
  grid-template-rows: max-content 1fr;
  background: transparent;
  position: relative;
  gap: 8px;
}

.game-item__content-link:hover::after {
  height: 55%;
}

.game-item:hover .game-item__content-link,
.game-item__content-link:hover {
  background: transparent;
}

.game-item__content-link:hover .game-item__cover {
  transform: scale(1.04);
}

.game-item__cover-wrapper {
  width: 100%;
  height: 100%;
  border: 0;
}

.game-item__cover {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border: 0;
}

.game-item__details {
  align-self: flex-start;
  padding: 8px;
  gap: 4px;
}

.game-item__details span:nth-of-type(1) {
  font-weight: 900;
  font-size: 20px;
  text-align: left;
}

.game-item__details span:nth-of-type(2) {
  font-size: 12px;
  color: color(bg-1, 0.5);
}

.game-item__repackers {
  opacity: 0;
  transition: all 0.2s linear;
}

.game-item__content-link:hover .game-item__content-link__repackers {
  opacity: 1;
}

.badge {
  background: rgba(255,255,255,0.1);
  color: color(bg-1);
  border-radius: 2px;
  border: 0;
  box-shadow: none;
  transform: none;
  backdrop-filter: none;
}