@use "abstracts" as *;

.game-options-modal__sidebar {
  background-color: color(bg-1, 0);
}

.game-details__container {
  display: grid;
  grid-template-rows: max-content auto;
}

.game-details__hero {
  height: 100%
}

.game-details__hero-image {
  height: 40vh;
  border-radius: 0;
  position: static;
}

.game-details__hero-content {
  position: static;
  padding: 0;
  align-items: center;
}

.game-details__game-logo {
  position: absolute;
  object-position: center;
  top: -16px;
  left: 16px;
  translate: 0 -100%;
  filter: drop-shadow(0 0 32px white) drop-shadow(0 0 8px black);
}

.game-details__hero-logo-backdrop {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  padding: 16px;
  height: max-content;
}

.game-details__hero-panel {
  padding: 0;
  grid-column:1;
}

.game-details__hero-panel .hero-panel {
  padding: 0;
  height: max-content;
  min-height: max-content;
  border-radius: 0;
  gap: 16px;
  flex-direction: row-reverse;
  backdrop-filter: none;
}

.hero-panel-actions__separator {
  display: none;
}

.game-details__hero-logo-backdrop .button,
.game-details__hero-buttons--right .game-details__edit-custom-game-button,
.game-details__hero-buttons--right .game-details__cloud-sync-button {
  box-shadow: none;
  background: color(bg-1, 0.25);
  border: 0;
  font-size: 20px;
  gap: 16px;

  &:hover {
    background: color(bg-1, 0.5);
  }

  & svg {
    width: 20px;
    height: 20px
  }
}

.game-details__hero-panel .hero-panel button {
  &:nth-of-type(1) { /* Play button */
    justify-content: start;
    padding: 8px 24px ;
    width: calc($header-size * 4) !important;
    &:hover {
      background: #59BF40;
    }
  }

  &:nth-of-type(4) {
    width: $header-size;
    font-size: 0;
    gap: 0;
  }
}

.game-details__hero-buttons {
  margin: 0;
}

.game-details__hero-buttons--right .game-details__cloud-sync-button {
  position: absolute;
  translate: 0 calc(-100% + (-16px * 2));
  right: 16px;
  padding: 8px 24px;
  background: color(bg-2, 0.5) !important;
  text-wrap: nowrap;

  &:hover {
    background: color(bg-1, 0.25) !important;
  }
}

.game-details__hero-panel .hero-panel button:nth-of-type(2),
.game-details__hero-panel .hero-panel button:nth-of-type(4),
.game-details__hero-buttons--right .game-details__edit-custom-game-button {
  --pos: 1;
  --size: #{$header-size};
  --header-pos: calc( (var(--size) * (var(--pos) - 1)) + (var(--pos) * 16px));
  position: absolute;
  translate: 0%;
  right: var(--header-pos);
}

.game-details__hero-panel .hero-panel button:nth-of-type(2) { --pos: 2 }
.game-details__hero-buttons--right .game-details__edit-custom-game-button { --pos: 3 }

.button:has(> svg > [d="m11.294.984 3.722 3.722a1.75 1.75 0 0 1-.504 2.826l-1.327.613a3.089 3.089 0 0 0-1.707 2.084l-.584 2.454c-.317 1.332-1.972 1.8-2.94.832L5.75 11.311 1.78 15.28a.749.749 0 1 1-1.06-1.06l3.969-3.97-2.204-2.204c-.968-.968-.5-2.623.832-2.94l2.454-.584a3.08 3.08 0 0 0 2.084-1.707l.613-1.327a1.75 1.75 0 0 1 2.826-.504ZM6.283 9.723l2.732 2.731a.25.25 0 0 0 .42-.119l.584-2.454a4.586 4.586 0 0 1 2.537-3.098l1.328-.613a.25.25 0 0 0 .072-.404l-3.722-3.722a.25.25 0 0 0-.404.072l-.613 1.328a4.584 4.584 0 0 1-3.098 2.537l-2.454.584a.25.25 0 0 0-.119.42l2.731 2.732Z"]) {
  display: none; /* Pin Button */
}

.game-details__description-container {
  background: transparent;
}

.game-details__description-container * {
   background: transparent;
}