@use "abstracts" as *;

.home__content {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
  gap: 0;
  overflow: hidden;
}

.home__header {
  padding: 0;
}

.home__header > ul {
  @include container__toolbar;
}

.home__header > ul > li > .button {
  @include toolbar;
}

.home__header > button {
  display: none;
}

.hero {
  min-height: 0;
  height: 90%;
  width: unset;
  margin: 16px;
  border: none;
  box-shadow: none;
}

.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: end;
  height: min-content;
  justify-content: start;
  gap: 16px;
  padding: 4px 16px;
}

.hero__description {
  padding-bottom: 16px
}

.home__title {
  display: none;
}

.home__cards {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 32px 20px 64px;
}

.game-card {
  min-width: 460px;
  max-width: 49%;
  height: 215px;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  overflow: visible;
  position: relative;
}

.game-card__backdrop {
  display: flex; 
  height: 100%;
  width: 100%;
  overflow: visible;
  background: none;
}

.game-card__cover {
  background-color: color(gradient-1, 1);
  color: color(bg-1, 0.5);
}

.game-card:hover .game-card__content {
  opacity: 1;
  bottom: -8px;
}

.game-card__content {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear 0.1s;
  padding: 8px 0;
  translate: 0 100%;
  transform: none;
  bottom: -12px;
  gap: 4px;
  width: 100%;
}

.game-card__title {
  text-wrap: nowrap;
  padding: 0 2px;
  font-size: 20px;
}

.game-card__specifics {
  opacity: 0.5;
  padding: 0;
}

.game-card__shop-icon,
.game-card__download-options {
  display: none;
}