@use "abstracts" as *;

.profile-hero__content-box, .profile-hero__hero-panel {
  background: transparent !important;
  border: 0;
  box-shadow: none;
}

.profile-section__content {
  background: transparent;
}

.profile-hero__content-box {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 0 32px;
}

.profile-hero__user-information {
  padding: 0;
}

.profile-hero__hero-panel {
  height: initial;
  padding: 0;
}

.profile-hero__display-name-container {
  @include flex(column, nowrap, $align:start);
  gap: 0;
}

.profile-hero__display-name {
  color: color(accent-1);
  font-size: 24px;
  font-weight: 200;
}

.profile-hero__copy-button {
  flex-direction: row-reverse;
  background: transparent;
  width: initial !important;
  color: color(accent-2) !important;
  gap: 4px;
}

.profile-hero__friend-code {
  color: color(accent-2) !important;
  opacity: 1 !important;
  margin-right: 0px !important;
  font-size: 20px;
  font-weight: 200;
}

.profile-hero__actions {
  display: flex;
  flex-direction: column;
}